<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>COVID19 in the US</title>
  <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }
        th{
            background-color: lightskyblue;
            color:white;
        }
        tr:nth-child(even){background-color: #f2f2f2;}
        tr:hover{background-color: #ddd;}
  </style>
</head>
<body>
    <h1>
        Cases of Coronavirus Disease (COVID-19) in the U.S. <br>
        Today is {{month}} {{day}}, {{year}}.
    </h1>
    <h2>
        Total Cases: {{cases}}, total deaths: {{deaths}}.
    </h2>
    <img src='../static/acc_new.png' alt='accumulated and new cases by date'>
    <img src='../static/states.png' alt='national distribution'>
    <img src='../static/age.png' alt='distribution by age'>
    <img src='../static/race.png' alt='distribution by race'>

    <h3> Please choose from the four options: </h3>
    <form action='results' method='POST'>
        <p>
            Sort by: <br/>
            <input type='radio' name='sort'
                value='Confirmed' checked='checked'/> Total comfirmed <br/>
            <input type='radio' name='sort'
                value='NewConfirmed' /> New comfirmed<br/>
            <input type='radio' name='sort'
                value='Deaths' /> Total deaths <br/>
            <input type='radio' name='sort'
                value='NewDeaths' /> New deaths <br/>
            <input type='radio' name='sort'
                value='FatalityRate' /> Fatality rate <br/>
        </p>

        <p>
            Date: <br/>
            <input type="date" name="chosen_date" min="2020-02-29" value="2020-04-23"/><br/>
        </p>

        <p>
            Sort direction: <br/>
                <input type='radio' name='dir'
                    value='desc' checked='checked'/>High to Low<br/>
                <input type='radio' name='dir'
                    value='asc'/>Low to High<br/>
        </p>
        
        <p>
            How many regions do you want to show:
            <input type="text" name='howmany' value='10' min='1' max='50'><br/>
        </p>
        <input type='submit' value='Get Results'/><br/>
    </form>
                                                                                      
    <h3>
        Click state to view the details:
    </h3>

    <table>
        <tr>
            <th>State</th>
            <th>Cases</th>
        </tr>

    {% for state in states %}
    {% if state %}
        <tr>
            <td><a href="/state/{{state}}">{{state}}</a></td>
            <td>{{states[state]}}</td>
        </tr>
    {% endif%}       
    {% endfor%}
    </table>
</body>
</html>