<html>
<head>
  <meta charset="UTF-8">
  <title>COVID19 in the US</title>
  <link rel="shortcut icon" type="image/png" href="favicon-32x32.png" type="image/png">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script>
        function myFunc(img_src) {
          var x = document.getElementById('pie_chart');
          x.src = img_src;
          x.style.display= 'block'
        }
  </script>
</head>
<body>
    <h1>
        Cases of Coronavirus Disease (COVID-19) in the U.S. <br>
        Today is {{month}} {{day}}, {{year}}({{weekday}}).
    </h1>
    
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'summary')" id="defaultOpen">Summary</button>
        <button class="tablinks" onclick="openTab(event, 'distribution')">Distribution</button>
        <button class="tablinks" onclick="openTab(event, 'rank')">Rank</button>
        <button class="tablinks" onclick="openTab(event, 'state')">State</button>
        <button class="tablinks" onclick="openTab(event, 'source')">Data Source</button>
        <button class="tablinks" onclick="openTab(event, 'contact')">Contact</button>
    </div>

    <div id="summary" class="tabcontent" style="text-align: center;">
        <h2>Total Cases: {{cases}}, total deaths: {{deaths}}.</h2>
        <img src='../static/acc_new.png' alt='accumulated and new cases by date'/>
    </div>

    <div id="distribution" class="tabcontent" style="text-align: center;">
        <h2> Please choose one distribution way: </h2>
        <button class ="button button1" onclick="myFunc('../static/states.png')" id="defaultOpen">Distribution by states</button>
        <button class ="button button2" onclick="myFunc('../static/age.png')">Distribution by age</button>
        <button class ="button button3" onclick="myFunc('../static/race.png')">Distribution by race</button>
        <img id='pie_chart' style='margin:auto;'>
    </div>

    <div id="rank" class="tabcontent" style="padding-left:30%;">
        <h2>Please choose from the four options: </h2>
        <form action='results' method='POST'>
            <p>
                Sort by: <br/>
                <input type='radio' name='sort'
                    value='Confirmed' checked='checked'/> Total comfirmed <br/>
                <input type='radio' name='sort'
                    value='NewConfirmed' /> New comfirmed<br/>
                <input type='radio' name='sort'
                    value='Deaths' /> Total deaths <br/>
                <input type='radio' name='sort'
                    value='NewDeaths' /> New deaths <br/>
                <input type='radio' name='sort'
                    value='FatalityRate' /> Fatality rate <br/>
            </p>

            <p>
                Date: <br/>
                <input type="date" name="chosen_date" min="2020-02-29" value='{{last_updated_date}}'/><br/>
            </p>

            <p>
                Sort direction: <br/>
                    <input type='radio' name='dir'
                        value='desc' checked='checked'/>High to Low<br/>
                    <input type='radio' name='dir'
                        value='asc'/>Low to High<br/>
            </p>
            
            <p>
                How many regions do you want to show:
                <input type="text" name='howmany' value='10' min='1' max='50'><br/>
            </p>
            <input type='submit' value='Get Results' style='font-weight:bold;font-size: medium;'/><br/>
        </form>
    </div>
    
    <div id="state" class="tabcontent" style="padding-left: 40%;">
        <h2>Click a state to view the details:</h2>
        <table>
            <tr>
                <th>State</th>
                <th>Cases</th>
            </tr>

        {% for state in states %}
        {% if state %}
            <tr>
                <td><a href="/state/{{state}}">{{state}}</a></td>
                <td>{{states[state]}}</td>
            </tr>
        {% endif%}       
        {% endfor%}
        </table>
    </div>

    <div id='source' class='tabcontent'>
        <p>Last updated date: {{last_updated_time}} (Detroit time).</p>
        <p>Data comes from <a href='https://www.cdc.gov/coronavirus/2019-ncov/cases-updates/cases-in-us.html' target='_blank'>CDC website</a> 
            and <a href='https://rapidapi.com/KishCom/api/covid-19-coronavirus-statistics/details' target='_blank'>Johns Hopkins University API</a>.</p>
    </div>
    <div id='contact' class='tabcontent'>
        <p>Open source code in <a href='https://github.com/chyuting/covid19Tracker' target='_blank'>Github repo</a>.</p>
    </div>


    <script>
        function openTab(evt, tabName) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(tabName).style.display = "block";
          evt.currentTarget.className += " active";
        }
        
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>
</body>
</html>