<html>
<head>
  <meta charset="UTF-8">
  <title>State {{nm}}</title>
  <link rel="icon" type="image/png" href="favicon-32x32.png" type="image/png">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script>
    function myFunction() {
      var x = document.getElementById("myImg");
      x.src = "../static/{{nm}}1.png";
      x.style.display= 'block'
    }
  </script>
    
</head>
<body>
    <h1>
        History data for {{nm}}
    </h1>
    <button onclick="myFunction()">Click to show image.</button>
    <br>
    <img id='myImg'>
    <table>
        <tr>
            <th>Date</th>
            <th>Total Cases</th>
            <th>New Cases</th>
            <th>Total Deaths</th>
            <th>New Deaths</th>
            <th>Fatality Rate</th>
        </tr>

    {% for i in data %}
        <tr>
            <td>{{i[2]}}</td>
            <td>{{i[3]}}</td>
            <td>{{i[4]}}</td>
            <td>{{i[5]}}</td>
            <td>{{i[6]}}</td>
            <td>{{i[9]}}</td>
        </tr>    
    {% endfor%}
    </table>
</body>
</html>